*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
     
}

--root{
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,1); 
    --background: rgba(255,255,255,.2);  /*for the white background*/
    --backdrop-filter: blur(5px); 
}
body {
    background: url(images/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /*height: 100vh;  
    width: 100%;*/
}

.container {  
    border-radius: .8rem;
    overflow: auto;
    
    max-width: 1300px;
    margin: 2rem auto; 

    /*background: rgba(255,255,255,.2);  /* main, big rctangle surrounding everything*/
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,1); 
    backdrop-filter: blur(5px);     

}

.headerContainer{
    background: rgba(255,255,255,.2);
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,1); 
    backdrop-filter: blur(5px); 
}

.navbar {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    flex-wrap: wrap;
    padding: 30px 30px;
    gap: 20px;
}

.navbar .drop {
    position: relative;
    width: 120px;
    height: 120px;
    box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.5), 25px 35px 20px rgba(0, 0, 0, 0.5),25px 30px 30px  rgba(0, 0, 0, 0.5),
                inset -20px -20px 25px rgba(255,255,255,0.9);
    transition: 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .drop:nth-of-type(1) {
    border-radius: 38% 62% 73% 27% / 41% 40% 60% 59% ;
}

.navbar .drop:nth-of-type(2) {
    border-radius: 21% 79% 54% 46% / 48% 40% 60% 52% ;
}

.navbar .drop:nth-of-type(3) {
    border-radius: 52% 48% 46% 54% / 48% 21% 79% 52%  ;
}

.navbar .drop:nth-of-type(4) {
    border-radius: 55% 45% 14% 86% / 48% 63% 37% 52% ;
}

.navbar .drop:nth-of-type(5) {
    border-radius: 25% 75% 30% 70% / 44% 54% 46% 56%  ;
}

.navbar .drop:nth-of-type(6) {
    border-radius: 71% 29% 30% 70% / 44% 54% 46% 56%  ;
}

.navbar .drop:hover{
    border-radius: 50%;
    background: rgb(88, 54, 208);
}

/*drop vitra ko sano sano 2 ota white drops */

.navbar .drop::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 18px;
    left: 20px;
    background: #fff;
    border-radius: 50%;
    opacity: 0.4;
}

.navbar .drop::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    top: 35px;
    left: 25px;
    background: rgb(244, 246, 243);
    border-radius: 50%;
    opacity: 0.2;
}

.navbar .content {
    font-size: large;
    font-weight: bold;
    color: rgb(7, 0, 0);
    text-align: center;
    flex-direction: column;
    text-decoration: none;
}

.container .fa {
    display: none;
}

.navbar .fa {
    display: none;
}

/*active link nav bar*/

.navbar .drop.active {
    background-color: #fff;
    color: burlywood;
}


/*   footer**************************************************************  */

.footerContainer{
    width: 100%;
    margin: 0 auto;


    background: rgba(255,255,255,.2);  /*for the white background*/
    backdrop-filter: blur(5px);
    border-radius: .8rem;
    margin-top: 2rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,1);

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


    height: 40vh;

    
}


.footerContainer .social h1,p{
    color: rgb(48, 11, 82);
    
}

.footerContainer .social p{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;

}

.footerContainer .social a{
    text-decoration: none;
    font-size: 50px;
    padding: 1rem;
    margin: 50px 15px;

    box-shadow: inset 20px 20px 20px rgba(20, 19, 19, 0.5), 25px 35px 20px rgba(0, 0, 0, 0.5),25px 30px 30px  rgba(0, 0, 0, 0.5),
                inset -20px -20px 25px rgba(255,255,255,0.9);
    transition: 0.5s ease-in-out;
}

.footerContainer .social a:nth-of-type(1){
    border-radius: 74% 26% 29% 71% / 44% 54% 46% 56% ;
}

.footerContainer .social a:nth-of-type(2){
    border-radius: 49% 51% 14% 86% / 44% 52% 48% 56% ;
}

.footerContainer .social a:nth-of-type(3){
    border-radius: 77% 23% 73% 27% / 44% 52% 48% 56%  ;
}

.footerContainer .social a:hover{
    border-radius: 50%;
    background: rgb(88, 54, 208);
}

@media(max-width: 700px) {

    .container {
        border-radius: .8rem;
        overflow: auto;
        background: none;  /*for the white background*/
        backdrop-filter: none;  
        max-width: 1300px;
        margin: 2rem auto;   /*container ko mathi ko height*/
        box-shadow: none;
    }
    
    .navbar .drop {
        width: auto; /* Adjust width for smaller screens */
        height: auto; /* Adjust height for smaller screens */
        box-shadow: none; /* Remove box shadow */
        border-radius: 0; /* Remove border radius */
    }

    .navbar .content {
        display: block;
        
    }
    .navbar {
        position: absolute;
        background: rgb(18, 51, 124);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px; /*to hide the menu in small screen on open*/
        text-align: left;
        z-index: 2;
        transition: 2s;
    }

    .navbar .fa {
        display: block;
        color: rgb(88, 0, 0);
        margin-top: 5%;
        margin-right: 20%;
        font-size: 20px;
        cursor: pointer;
    }

    .navbar .content {
        margin-right: 10%;
    }

    .container .fa {
        display: block;
        color: rgb(88, 0, 0);
        margin-top: 5%;
        margin-right: 20%;
        font-size: 20px;
        cursor: pointer;
    }
}


.home{
    width: 100%;
    height: 100vh;
    background-image: url(images/IMG_20230805_164040.jpg);
    background-size: cover;
    background-position: center;
}

.home .heading p{
    color: rgb(239, 239, 156);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 50px;
    padding-top: 0.7cm;
    margin-left: 1cm;
    

}

.home .heading h2, h1{
    margin-left: 30px;
    margin-top: 0.5cm;
    color:chartreuse;   

}
.home .heading span{
    color: aqua;
}



/****************************education******************************/

.study{
    background: var(--background);
    box-shadow: var(--box-shadow);
    backdrop-filter: var(--backdrop-filter);
}

.study{
    padding: 1cm;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.study .title{
    font-weight: bolder;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(4, 122, 172);

}

 /*for the size of the images*/
.flip{
    position: relative;
    display: grid;
    margin-right: 2px;
    margin-bottom: 1em;
    margin-top: 2em;
    width: 700px;
    height: 420px;
    >.front .f{
        display: block;
        color: rgb(73, 65, 65);
        width: inherit;
        background-size: cover!important;
        background-position: center!important;
        width: 700px;
        height: 420px;
        padding: 4em 2em 5em 2em;
        background: #313131;
        border-radius: 10px;
    }
    >.back .b{
      display: block;
      color: rgb(65, 54, 54);
      width: inherit;
      background-size: cover!important;
      background-position: center!important;
      width: 700px;
      height: 420px;
      padding: 4em 2em 5em 2em;
      background: #727272;
      border-radius: 10px;
      
    }
}

/* for the flip effect*/ 
.flip {
    position: relative;
    >.front .f,
    >.back .b{
        display: block;
        transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
        transition-duration: 1s;
        transition-property: transform, opacity;
    }
    >.front .f{
        transform: rotateY(0deg);
        
        position: absolute;
        top: 0px;
        left: 0px;
        width: 700px;
        height: 420px;
    }
    >.back .b{
        position: absolute;
        opacity: 0;
        top: 0px;
        left: 0px;
        width: 700px;
        height: 420px;
        transform: rotateY(-180deg);
        
    }
    &:hover {
        >.front .f{
            transform: rotateY(180deg);
        }
        >.back .b{
            opacity: 1;
            transform: rotateY(0deg);
        }
    }
    &.flip-vertical {
        >.back .b{
            transform: rotateX(-180deg);
        }
        &:hover {
            >.front .f{
                transform: rotateX(180deg);
            }
            >.back .b{
                transform: rotateX(0deg);
            }
        }
    }
}

.flip .front .frontText1{
    color: rgb(114, 7, 89);
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;

}


.flip .back .backText1, .backText2 {
    color: #d5cfcf;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    top: 60%;
    font-size: 20px;
}

/*
::-webkit-details-marker{
    float: right;
    margin-top: 3px;
 }
*/

 details summary::-webkit-details-marker {
    color: red; 
}


details{
    display: inline-block;
    color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
 
}

details .text{
    color: whitesmoke;
    margin: 1cm ;
    font-size: 20px;
}

details h1{
    font-size: 30px;
    color: rgb(0, 255, 255);
}

details h3{
    font-size: 25px;
    color: rgb(61, 167, 167);
    margin-left: 2cm;
    margin-top: 0.5cm;
}

/* Style the summary and p elements within the first details element */
details:first-of-type summary {
    color: red;
    font-size: 20px;
    margin-left: 3cm;
    margin-top: 0.5cm ;
}

details img{
    justify-content: center;
    align-items: center;
}