*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
     
}

--root{
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,1); 
    --background: rgba(255,255,255,.2);  /*for the white background*/
    --backdrop-filter: blur(5px); 
    --lightblue: rgb(68, 231, 231);
}
body {
    background: url(images/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /*height: 100vh;  
    width: 100%;*/
}

.container {  
    border-radius: .8rem;
    max-width: 1300px;
    margin: 2rem auto; 
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,1);   
}
/*removed backdrop-filter to make the nav bar fixed */

.headerContainer{
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 .5rem 1.5rem rgb(21, 51, 82); 
    backdrop-filter: blur(5px); 
    z-index: 1000;
    position: fixed;
    width: 1300px;
    border-radius: 5px;
}

.navbar {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    flex-wrap: wrap;
    padding: 30px 30px;
    gap: 20px;
}

.navbar .drop {
    position: relative;
    width: 120px;
    height: 120px;
    box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.5), 25px 35px 20px rgba(0, 0, 0, 0.5),25px 30px 30px  rgba(0, 0, 0, 0.5),
                inset -20px -20px 25px rgba(255,255,255,0.9);
    transition: 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .drop:nth-of-type(1) {
    border-radius: 38% 62% 73% 27% / 41% 40% 60% 59% ;
}

.navbar .drop:nth-of-type(2) {
    border-radius: 21% 79% 54% 46% / 48% 40% 60% 52% ;
}

.navbar .drop:nth-of-type(3) {
    border-radius: 52% 48% 46% 54% / 48% 21% 79% 52%  ;
}

.navbar .drop:nth-of-type(4) {
    border-radius: 55% 45% 14% 86% / 48% 63% 37% 52% ;
}

.navbar .drop:nth-of-type(5) {
    border-radius: 25% 75% 30% 70% / 44% 54% 46% 56%  ;
}

.navbar .drop:nth-of-type(6) {
    border-radius: 71% 29% 30% 70% / 44% 54% 46% 56%  ;
}

.navbar .drop:hover{
    border-radius: 50%;
    background: rgb(88, 54, 208);
}

/*drop vitra ko sano sano 2 ota white drops */

.navbar .drop::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 18px;
    left: 20px;
    background: #fff;
    border-radius: 50%;
    opacity: 0.4;
}

.navbar .drop::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    top: 35px;
    left: 25px;
    background: rgb(219, 0, 253);
    border-radius: 50%;
    opacity: 0.2;
}

.navbar .content {
    font-size: large;
    font-weight: bold;
    color: rgb(255, 0, 0);
    text-align: center;
    flex-direction: column;
    text-decoration: none;
}

.container .fa {
    display: none;
}

.navbar .fa {
    display: none;
}

/*active link nav bar*/

.navbar .drop.active {
    background-color: #fff;
    color: burlywood;
}



/*   footer**************************************************************  */

.footerContainer{
    width: 100%;
    margin: 0 auto;


    background: rgba(255,255,255,.2);  /*for the white background*/
    backdrop-filter: blur(5px);
    border-radius: .8rem;
    margin-top: 2rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,1);

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


    height: 40vh;

    
}


.footerContainer .social h1,p{
    color: rgb(48, 11, 82);
    
}

.footerContainer .social p{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;

}

.footerContainer .social a{
    text-decoration: none;
    font-size: 50px;
    padding: 1rem;
    margin: 50px 15px;

    box-shadow: inset 20px 20px 20px rgba(20, 19, 19, 0.5), 25px 35px 20px rgba(0, 0, 0, 0.5),25px 30px 30px  rgba(0, 0, 0, 0.5),
                inset -20px -20px 25px rgba(255,255,255,0.9);
    transition: 0.5s ease-in-out;
}

.footerContainer .social a:nth-of-type(1){
    border-radius: 74% 26% 29% 71% / 44% 54% 46% 56% ;
}

.footerContainer .social a:nth-of-type(2){
    border-radius: 49% 51% 14% 86% / 44% 52% 48% 56% ;
}

.footerContainer .social a:nth-of-type(3){
    border-radius: 77% 23% 73% 27% / 44% 52% 48% 56%  ;
}

.footerContainer .social a:hover{
    border-radius: 50%;
    background: rgb(88, 54, 208);
}

@media(max-width: 700px) {

    .container {
        border-radius: .8rem;
        overflow: auto;
        background: none;  /*for the white background*/
        backdrop-filter: none;  
        max-width: 1300px;
        margin: 2rem auto;   /*container ko mathi ko height*/
        box-shadow: none;
    }
    
    .navbar .drop {
        width: auto; /* Adjust width for smaller screens */
        height: auto; /* Adjust height for smaller screens */
        box-shadow: none; /* Remove box shadow */
        border-radius: 0; /* Remove border radius */
    }

    .navbar .content {
        display: block;
        
    }
    .navbar {
        position: absolute;
        background: rgb(18, 51, 124);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px; /*to hide the menu in small screen on open*/
        text-align: left;
        z-index: 2;
        transition: 2s;
    }

    .navbar .fa {
        display: block;
        color: rgb(88, 0, 0);
        margin-top: 5%;
        margin-right: 20%;
        font-size: 20px;
        cursor: pointer;
    }

    .navbar .content {
        margin-right: 10%;
    }

    .container .fa {
        display: block;
        color: rgb(88, 0, 0);
        margin-top: 5%;
        margin-right: 20%;
        font-size: 20px;
        cursor: pointer;
    }
}

/***************************************************************index*************************************************/
.home{
    width: 100%;
    height: 100vh;
    /*
    background-image: url(images/IMG_20230805_164040.jpg);*/
    background-size: cover;
    background-position: center;
    padding-top: 6cm;
}

.home .heading p{
    color: rgb(239, 239, 156);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 50px;
    padding-top: 0.7cm;
    margin-left: 1cm;  

}

.home .heading h2, h1{
    margin-left: 30px;
    margin-top: 0.5cm;
    color:chartreuse;   

}
.home .heading span{
    color: aqua;
}




/*********************************************************about******************************************************/

.about{
    padding-top: 6cm;
    display: flex;
    box-shadow: 0 .5rem 1.5rem rgb(17, 31, 45);
}

.aboutMe h1:nth-of-type(1){
    color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.aboutMe h1:nth-of-type(2){
    margin-left: 1cm;
    color: rgb(47, 149, 149);
    font-size: 25px;
}

.aboutMe h4{
    color: rgb(96, 95, 95);
    margin-left: 1.5cm;
}


.about .aboutMe p{
    color: whitesmoke;
    margin-top: 0.5cm;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none ;
    margin-left: 1.5cm;
    margin-right: 1cm;
    margin-bottom: 1cm;
    line-height: 27px;
}





/****************************education******************************/

.study{
    background: var(--background);
    box-shadow: var(--box-shadow);
    backdrop-filter: var(--backdrop-filter);
}

.study{
    padding: 1cm;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 6cm;
}

.study p{
    color: aqua;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 30px;
    margin-bottom: 1cm;
}

.study .title{
    font-weight: bolder;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(0, 164, 234);

}

 /*for the size of the images*/
.flip{
    position: relative;
    display: grid;
    margin-right: 2px;
    margin-bottom: 1em;
    margin-top: 2em;
    width: 700px;
    height: 420px;
    >.front .f{
        display: block;
        color: rgb(73, 65, 65);
        width: inherit;
        background-size: cover!important;
        background-position: center!important;
        width: 700px;
        height: 420px;
        padding: 4em 2em 5em 2em;
        background: #313131;
        border-radius: 10px;
    }
    >.back .b{
      display: block;
      color: rgb(65, 54, 54);
      width: inherit;
      background-size: cover!important;
      background-position: center!important;
      width: 700px;
      height: 420px;
      padding: 4em 2em 5em 2em;
      background: #727272;
      border-radius: 10px;
      
    }
}

/* for the flip effect*/ 
.flip {
    position: relative;
    >.front .f,
    >.back .b{
        display: block;
        transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
        transition-duration: 1s;
        transition-property: transform, opacity;
    }
    >.front .f{
        transform: rotateY(0deg);
        
        position: absolute;
        top: 0px;
        left: 0px;
        width: 700px;
        height: 420px;
    }
    >.back .b{
        position: absolute;
        opacity: 0;
        top: 0px;
        left: 0px;
        width: 700px;
        height: 420px;
        transform: rotateY(-180deg);
        
    }
    &:hover {
        >.front .f{
            transform: rotateY(180deg);
        }
        >.back .b{
            opacity: 1;
            transform: rotateY(0deg);
        }
    }
    &.flip-vertical {
        >.back .b{
            transform: rotateX(-180deg);
        }
        &:hover {
            >.front .f{
                transform: rotateX(180deg);
            }
            >.back .b{
                transform: rotateX(0deg);
            }
        }
    }
}

.flip .front .frontText1{
    color: rgb(114, 7, 89);
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;

}


.flip .back .backText1, .backText2 {
    color: #d5cfcf;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    top: 60%;
    font-size: 20px;
}

/*
::-webkit-details-marker{
    float: right;
    margin-top: 3px;
 }
*/

 details summary::-webkit-details-marker {
    color: red; 
}


details{
    display: inline-block;
    color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
 
}

details .text{
    color: whitesmoke;
    margin: 1cm ;
    font-size: 20px;
}

details h1{
    font-size: 30px;
    color: rgb(0, 255, 255);
}

details h3{
    font-size: 25px;
    color: rgb(61, 167, 167);
    margin-left: 2cm;
    margin-top: 0.5cm;
}

/* Style the summary and p elements within the first details element */
details:first-of-type summary {
    color: red;
    font-size: 20px;
    margin-left: 3cm;
    margin-top: 0.5cm ;
}

details img{
    justify-content: center;
    align-items: center;
}




/********************************************************skills*********************************************************************/
.skills{
    padding-top: 6cm;
}

.skills h1{
    color: whitesmoke;
    font-size: 75px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #f9004d;
}
h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}
.paragraph p{
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
}

.card .button{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}
.card .button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
/**********************************************projects*****************************************************/

.projects{
    padding-top: 6cm;
    color: whitesmoke;
    backdrop-filter: blur(4px);

}

.projects p:nth-child(1){
    color: whitesmoke;
    font-size: 20px;
    line-height: 27px;
    margin:0 2cm 0 2cm
}

.projects p:nth-child(2){
    color: rgb(68, 231, 231);
    font-size: 20px;
    line-height: 27px;
    margin: 0 1cm 0 1cm;
    box-shadow: 0 .5rem 1.5rem rgb(255, 255, 255);
    padding: 0.5cm;
}

.projects p:nth-child(3){
    color: rgb(68, 231, 231);
    font-size: 20px;
    line-height: 27px;
    margin: 1cm 1cm 0 1cm;
    box-shadow: 0 .5rem 1.5rem rgb(255, 255, 255);
    padding: 0.5cm;
}

.projects p:nth-child(4){
    color: rgb(68, 231, 231);
    font-size: 20px;
    line-height: 27px;
    margin: 1cm 1cm 0 1cm;
    box-shadow: 0 .5rem 1.5rem rgb(255, 255, 255);
    padding: 0.5cm;
}

/*******************************contacts*****************************************************************/

.contacts{
    padding-top: 6cm;
}

.contacts h1{
    color: rgb(17, 2, 226);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contacts p{
    margin: 0.5cm 1.5cm 1cm 1.5cm;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(142, 218, 246);
    line-height: 30px;
}

.contacts .subTitle p:nth-child(1){
    color: rgb(9, 9, 208);
    margin-bottom: 0%;
    margin-left: 2.5cm;
}

.contacts .subTitle p:nth-child(2){
    margin-left: 3cm ;
    color: rgb(236, 236, 236);
    background-color: rgb(90, 133, 170);
    font-weight: bolder;
    width: 5cm;
    text-decoration: none;
    padding: 1cm;
    box-shadow: inset 20px 20px 20px rgba(20, 19, 19, 0.5), 25px 35px 20px rgba(0, 0, 0, 0.5),25px 30px 30px  rgba(0, 0, 0, 0.5),
                inset -20px -20px 25px rgba(255,255,255,0.9);
    transition: 0.5s ease-in-out;
    border-radius: 46% 54% 56% 44% / 52% 75% 25% 48%  ;
}


.contacts .subTitle .drop::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 600px;
    left: 350px;
    background: #fff;
    border-radius: 50%;
    opacity: 0.4;
}

.contacts .subTitle .drop::after{
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    top: 610px;
    left: 360px;
    background: #fff;
    border-radius: 50%;
    opacity: 0.4;
}

.contacts .subTitle .drop:hover{
    border-radius: 50%;
    background-color: rgb(255, 9, 198);
}

.socialMediaIcons p{
    color: rgb(0, 0, 223);
    margin-bottom: 0%;
    margin-left: 2.5cm;
}

.socialMediaIcons a{
    display: inline-block;
    margin-left: 3cm ;
    margin-bottom: 0.5cm;
    margin-top: 1cm;
    color: rgb(116, 2, 2);
    background-color: rgb(90, 133, 170);
    font-weight: bolder;
    font-size: 30px;
    width: 3cm;
    text-decoration: none;
    padding: 1cm;
    box-shadow: inset 20px 20px 20px rgba(20, 19, 19, 0.5), 25px 35px 20px rgba(0, 0, 0, 0.5),25px 30px 30px  rgba(0, 0, 0, 0.5),
                inset -20px -20px 25px rgba(255,255,255,0.9);
    transition: 0.5s ease-in-out;
}

.socialMediaIcons a:nth-of-type(1) {
    border-radius: 62% 38% 55% 45% / 52% 57% 43% 48% ;
}

.socialMediaIcons a:nth-of-type(2) {
    border-radius: 77% 23% 72% 28% / 46% 47% 53% 54% ;
}

.socialMediaIcons a:nth-of-type(3) {
    border-radius: 59% 41% 72% 28% / 46% 47% 53% 54% ;
}

.socialMediaIcons a:nth-of-type(4) {
    border-radius: 71% 29% 58% 42% / 46% 47% 53% 54% ;
}

.socialMediaIcons a:nth-of-type(5) {
    border-radius: 71% 29% 24% 76% / 46% 47% 53% 54% ;
}

.socialMediaIcons a:hover{
    border-radius: 50%;
    background-color: rgb(255, 9, 198);
}

